*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

input, button{
    margin-top: 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    font-size: large;
}

button{
    height: 40px;
    width: 100px;
    margin-right: 10px;
}