#body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}

#bookDesc{
    display: flex;
    flex-direction: row;
}

#details{
    
}