.App{
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

.Button{
    border-radius: 10px;
    height: 37px;
    width: 80px;
    align-self: center;
    margin-left: 10px;
    color: #282c34;
    font-size: medium;
}

.Input{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    padding-left: 10px;
    color: #282c34;
    font-size: medium;
}

.AddedContact{
    font-size: x-large;
}
