body{
    margin-top: 3rem;
    display: flex;
    width: 20px;
    justify-content: center;
    /* background-color: aquamarine; */
}

p.sec::first-line{
    color: aqua;
}

p.sec::first-letter{
    color: red;
}