.App {
  text-align: center;
  background-color: #ffeee6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  /* justify-content: center; */
  /* align-items: center; */
}



