#app{
    width: 400px;
    position: relative;
    display: inline-block;
}

input{
    width: 70%;
    height: 30px;
    border-radius: 4px;
    outline: none;
}

input:focus{
    border: 2px solid grey;
}

.suggestions-wrapper{
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid silver;
}

.suggestions-visible{
    display: block;
}